<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="ParallelTests" parallel="tests" thread-count="5">
        <classes>
            <class name="com.report.test.transaction">
                <methods>
                    <include name="transactionUsingSelectStatus"/>
                    <include name="transactionUsingSelectMerchant"/>
                    <include name="transactionUsingSelectBank"/>
                    <include name="selectMIDBasedOnBank"/>
                    <include name="selectDate"/>
                    <include name="selectDateRangeToAndFrom"/>
                    <include name="selectTimeZoneAndVerify"/>
                    <include name="selectCurrency"/>
                    <include name="status"/>
                    <include name="allActionOnTransactionPage"/>
                    <include name="endToEndFlowOfTransaction"/>
                    <include name="iterateAllTable_Pages"/>
                    <include name="filter_Transaction_And_Open_Detail_Page"/>
                    <include name="verify_downloadInvoice"/>
                    <include name="verifyErrorIn_downloadInvoice"/>
                    <include name="verifyPurchaseID_EmailSummaryPage"/>
                    <include name="verifyTransaCTIONidIn_ActionPage"/>
                    <include name="validtePaginationInEmailSummaryPage"/>
                    <include name="testClickFirstEmailOccurrence"/>
                </methods>
            </class>

            <class name="com.report.test.transactionLog">
                <methods>
                    <include name="verifyTransactionLog"/>
                    <include name="verify_purchaseIDJson"/>
                </methods>
            </class>

            <class name="com.report.test.apiLog">
                <methods>
                    <include name="verifyAPILog"/>
                </methods>
            </class>

            <class name="com.report.test.bankTransactionTime">
                <methods>
                    <include name="verifyBankTransactionTimeReport"/>
                </methods>
            </class>

            <class name="com.report.test.download">
                <methods>
                    <include name="downloadTransaction"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
